{% extends "base.html" %} 
{% load codeedit_extras %} 
{% load static %}
{% block head %} 
    {% csrf_token %}
    <link rel="stylesheet" href="{% static 'css/editor.css' %}">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/default.min.css">
{% endblock %} 
{% block content %}
    <div class="d-flex flex-column">
        <div id="split-0">
            <!-- Tab links -->
            <div class="tab" id="leftTabs">
                <button class="tablinks" onclick="openTab('left', 'task')">Task</button>
                <!--<button class="tablinks" onclick="openTab('left', 'shell')">Shell</button>-->
            </div>
            <div id="leftTabsContent">
                <!-- Tab content -->
                <div id="task" class="tabcontent">
                    <h3  id="taskName" class="mb-2">{{ task.name }}</h3>
                    <code class="language-python">
                        <pre  id="taskDescription" class="fixed-code mb-0">{{ task.content }}
                        </pre>
                        <pre  id="taskExamples" class="fixed-code mb-0"># Examples:&#10;{{ task.examples|join:"&#10;"|linebreaks }}
                        </pre>
                        <pre  id="imports" class="fixed-code mb-0">{{ task.imports }}{% if task.imports %}
                        {% endif %}</pre>
                        <pre id="functionSignature" class="fixed-code mb-0">def {{ task.function_name }}({{ task.input_arguments|join:", " }}) -> {{task.output_type}}:</pre>
                        <pre class="language-python return-line " id="userInput" contenteditable="true">{% get_task_last_attempt task.id %}</pre>
                    </code>
                </div>
                
                
                <div id="shell" class="tabcontent">
                    <pre>Hello?</pre>
                </div>
            </div>
        </div>
        <div id="split-1">
            <div class="tab" id="rightTabs">
                <button class="tablinks" onclick="openTab('right', 'tests')">Tests</button>
                <button class="tablinks" onclick="openTab('right', 'hints')">Hints</button>
                <button id="run-tests-button" class="btn btn-success float-right run-button" onclick="runTests()"><span id="run-tests-icon"><i class="fa fa-play"></i></span> Run tests</button>
            </div>
            
            <div id="rightTabsContent">
                <!-- Tab content -->
                <div id="tests" class="tabcontent">
                    <div class="d-flex flex-column pt-2">
                        {% for test in tests %}
                        <div id="test-name-{{forloop.counter}}" class="border-bottom pb-2 pt-2">
                            <span class="h5">Test #{{forloop.counter}}</span>
                            <!--<button class="btn btn-success btn-sm float-right test-button "><i class="fa fa-play"></i></button>-->
                            <button class="btn btn-info btn-sm float-right test-button mr-2 rounded-circle" data-toggle="collapse" data-target="#test-accordion-{{forloop.counter}}"><i class="fa fa-eye"></i></button>
                            <span id="test-status-{{forloop.counter}}" class="h5  float-right mr-4"></span>
                        </div>
                        <div class="border-bottom collapse" id="test-accordion-{{forloop.counter}}">
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm">
                                        Input:<br/> 
                                        {{test.input_positional|join:", "}}
                                    </div>
                                    <div class="col-sm">
                                        Expected output:<br/>
                                        {{test.output}}
                                    </div>
                                    <div class="col-sm">
                                        Your output:<br/>
                                        <span id="test-user-output-{{forloop.counter}}"></span>
                                    
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% empty %}
                        No tests...
                        {% endfor %}
                    </div>
                </div>
                
                <div id="hints" class="tabcontent">
                    {% for hint in task.hints %}
                        <div  class="border-bottom pb-2 pt-2">
                            <span class="h5">Hint #{{forloop.counter}}</span>
                            <!--<button class="btn btn-success btn-sm float-right test-button "><i class="fa fa-play"></i></button>-->
                            <button class="btn btn-info btn-sm float-right test-button mr-2 rounded-circle" data-toggle="collapse" data-target="#hint-accordion-{{forloop.counter}}"><i class="fa fa-eye"></i></button>
                            <span class="h5  float-right mr-4"></span>
                        </div>
                        <div class="border-bottom collapse" id="hint-accordion-{{forloop.counter}}">
                            <div class="container">
                                <div class="row">
                                    {{hint}}
                                </div>
                            </div>
                        </div>
                        {% empty %}
                        No hints...
                        {% endfor %}
                </div>
            </div>
            
        </div>
    </div>

    <div class="modal fade " id="successModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title text-success" id="exampleModalLabel">Congratulations!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    <span class="victory-emoji">🏆</span>
                    All tests were successful!
                    You can now try another solution or go back to the list of tasks and pick a new challenge.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Try another solution</button>
                    <button type="button" class="btn btn-primary" onClick="redirect({% url 'list_tasks' %})">Pick another task</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{%block scripts %}
    
<script src="https://cdnjs.cloudflare.com/ajax/libs/split.js/1.6.0/split.min.js"></script>
<script>
    var activeLeft = "task";
    var activeRight = "tests";
    var modifiedInput = false;
    $(document).ready(function() {
        $('code pre').get().forEach((el) => hljs.highlightElement(el));
        $(`#${activeLeft}`).show();
        $(`#${activeRight}`).show();
        
    });
    jQuery.fn.selectText = function(){
        var doc = document;
        var element = this[0];
        if (doc.body.createTextRange) {
            var range = document.body.createTextRange();
            range.moveToElementText(element);
            range.select();
        } else if (window.getSelection) {
            var selection = window.getSelection();        
            var range = document.createRange();
            range.selectNodeContents(element);
            selection.removeAllRanges();
            selection.addRange(range);
        }
     };
    $("#userInput").on('focus', (e) =>
    {
        if(!modifiedInput)
            $("#userInput").selectText();
        // hljs.highlightElement(e.target); problematic
    });
    $("#userInput").on('input', (e) =>
    {
        modifiedInput = true;
        // hljs.highlightElement(e.target); problematic
    });
    function openTab(tabset, tab) {
        let tabsContent;
        if(tabset=='left') {
            tabsContent = $('#leftTabsContent');
            $(`#${activeLeft}`).hide();
            activeLeft = tab;
            $(`#${activeLeft}`).show();
        } else if (tabset=='right') {
            tabsContent = $('#rightTabsContent');
            $(`#${activeRight}`).hide();
            activeRight = tab;
            $(`#${activeRight}`).show();
        }
        evt.currentTarget.className += " active";
      }
    function runTests()
    {
        let userInput = $("#userInput").text();
        let data = {'attempt':userInput};
        console.log(JSON.stringify(data));
        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
        $("#run-tests-icon").html("<i class='fa fa-circle-o-notch fa-spin'></i>");
        $("#run-tests-button").prop('disabled', true);
        fetch("{% url 'check_task' task.task_id %}", {
            method: 'POST', //*GET, POST, PUT, DELETE, etc.
            cache: 'no-cache', //*default, no-cache, reload, force-cache, only-if-cached
            credentials: "same-origin",
            headers: {
                'Content-Type': 'application/json'
            },
            redirect: 'error', // manual, *follow, Error
            headers: { "X-CSRFToken": csrftoken },
            body: userInput //treść wysyłana
        }).then((response) => {
            $("#run-tests-icon").html("<i class='fa fa-play'></i>");
            $("#run-tests-button").prop('disabled', false);
            if (!response.ok) {
                throw Error(response.statusText);
            }
            return response.json();
        })
            .then((res) => {
                changeTestsState(res.return_values, res.test_results);
            }).catch((error) => {
                console.log(error);
            }); 
        
    }
    function changeTestsState(userResults, successes)
    {
        for(var i = 0; i < userResults.length; i++)
        {
            let userOutput = $(`#test-user-output-${i+1}`);
            let testResult = $(`#test-status-${i+1}`);
            let testName = $(`#test-name-${i+1}`);
            if(successes[i]) {
                testResult.addClass("text-success");
                testResult.removeClass("text-danger");
                testName.addClass("text-success");
                testName.removeClass("text-danger");
                testResult.html("OK");
            } else {
                testResult.addClass("text-danger");
                testResult.removeClass("text-success");
                testName.addClass("text-danger");
                testName.removeClass("text-success");
                testResult.html("FAILED");
            }
            userOutput.html(userResults[i]);
        }
        if(successes.every((bl) => bl)) {
           $('#successModal').modal('show');
        }

    }
</script>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script>
{% endblock %}